doctype html
html
  title HTML Tutorial
  body
    h1 This is a heading
<<<<<<< HEAD
    p This is a paragraph teste
=======
    p This is a paragraph
>>>>>>> 2046d150e90276a7c062d8017ebab57c0c69bfd6
